<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- segments need to meet both these thresholds to be considered as worth reporting -->
    <add key="SegmentMinPhasedSnpCount" value="200"/> <!-- recommend 200 -->
    <add key="SegmentMinCmLength" value="3.0"/>       <!-- recommend 3.0 -->
    <!-- the maximum number of SNPs with non-matching alleles that will be 'forgiven' by stitching
         together the segments on either side of the errors to make one combined segment -->
    <add key="MaxErrorsToStitch" value="1"/>          <!-- recommend 1  (0 means no errors allowed, i.e. no stitching) -->
    <!-- segments need to meet both these thresholds to be considered as segments that can be stitched
         together to make a larger segment when separated by a count of mismatched SNP alleles that's
         no larger than MaxErrorsToStitch -->
    <add key="StitchMinPhasedSnpCount" value="50"/>   <!-- recommend 50 -->
    <add key="StitchMinCmLength" value="1.0"/>        <!-- recommend 1.0 -->
    <!-- Given a segment made up of some number of common phased SNPs between two genomes,
         it is difficult to know what the true start and end points are. It's likely that
         some portion of each end is a fake mix of alleles from both parents, just like is
         the case for small segments. PhaseSegmentMinSnpCount is the minimum number of 
         common phased SNPs in a segment required before it can be used as a source for
         further phasing. PhaseSegmentEdgeWaste is the number of common phased SNPs at
         each end of the segment to discard for the purposes of further phasing because
         they cannot be trusted. Note that a sesnsible setting is to have
         PhaseSegmentMinSnpCount > 2 * PhaseSegmentEdgeWaste
         because if that amount is disregarded at each end of a segment, there will only
         be usable SNPs remaining in the segment if it is larger those two amounts combined.
         Setting a very small PhaseSegmentEdgeWaste will likely result in incorrect phasing.-->
    <add key="PhaseSegmentMinSnpCount" value="600"/>  <!-- recommend 600  (this is approximately 7-10 cM length segments)-->
    <add key="PhaseSegmentEdgeWaste" value="250"/>     <!-- recommend 250  (this is approximately 3-5 cM of discard)-->
    <!-- Set FillNoCalls to "true" if you want no calls in the target genome to be filled
         in where possible with alleles determined from the genome being used to phase it.-->
    <add key="FillNoCalls" value="true"/>   <!-- recommend "true" -->
    <!-- If set to true, a detailed companion file will be written for the phased genome file.
         The companion file will have the same name with the word "HISTORY" added. This file
         is a csv spreadsheet detailing the matching segments that were used to phase the
         heterozygous SNPs. -->
    <add key="WriteDetailedPhaseHistory" value="false"/> 
    <!-- The character to write in split files for unphased SNPs -->
    <add key="UnphasedChar" value="?"/>     <!-- recommend "?" or "-" -->
    <!--empty genome path will assume genome files are located in same folder
        as the GenComp exe. If genome files are located in a different folder,
        use GenomePath to specify that location.-->
    <add key="GenomePath" value=""/>
  </appSettings>
</configuration>